.page-title{
   font-size: 7vw;
   color: #005243;
   font-weight: bold;
   position: relative;
   top: 0;
   background: #ebe240;
   z-index: 1;
   box-sizing: border-box;
   width: 100%;
   margin: 0vw -13vw;
}
.game-name{
   font-size: 4vw;
   color: #640125;
   padding: 8px 14px;
   margin: 5vw 0vw 0vw 0vw;
}
.detail{
  font-size: 1.7vw;
  color: #426579;
  position: relative;
  left: 48vw;
  bottom: 38vw;
}
.all{
  background-color: #bdb76b;
  background-image: url('https://github.com/tcut-sci-tech/photos/blob/main/%E5%8D%B5%E7%B7%8F%E9%9B%86%E7%B7%A8.jpeg');
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.gazou{
  width: 45vw;
  padding: 8px 14px;
  position: relative;
  bottom: 20px;
}
.main{
  margin: 12vw 0vw 0vw 0vw;
}
.hutatume{
  margin:-42vw 0vw 0vw 0vw;
}
.mittume{
  margin:-40vw 0vw 0vw 0vw;
}
.yottume{
  margin:-42vw 0vw 0vw 0vw;
}
.itutume{
  margin:-37vw 0vw 0vw 0vw;
}
.itiran{
  position: relative;
  left: 0.1vw;
  z-index: 1;
  width: 102.5%;
}
.detail4{
  font-size: 1.7vw;
  color: #426579;
  position: relative;
  left: 48vw;
  bottom: 35vw;
}
.detail6{
  font-size: 1.7vw;
  color: #426579;
  position: relative;
  left: 48vw;
  bottom: 29vw;
}
.background-container {
    background-image: url('https://github.com/tcut-sci-tech/photos/blob/main/%E6%9C%A8%E3%81%AE%E5%B9%B9.png?raw=true');
    background-position: right center;
    background-size: 40%;
    background-repeat: repeat-y;
　  opacity: 0.7;
    }
